.AvaliarPraia {
    background-color: #363636;
    border-radius: 20px;
}

.bg-avaliar-praia {
    background-color: rgb(53, 57, 66);
    border-radius: 20px;
}

.altura-linha {
    line-height: 0px;
}

.bg-estrela {
    border-radius: 100%;
    background-color: rgb(82, 88, 102);
    height: 40px;
    width: 40px;
}

.opniao {
    width: 100%;
    border: solid 1px rgb(255, 255, 255, 0.5);
    background-color: #363636;
}

.btn-enviar {
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: #17E590;
    color: white;
    transform: scale(1);
}

.btn-enviar:active {
    transform: scale(0.98);
    background-color: #17E590;
    color: white;
}